body{
  background-color: #f1f1f1;
}
label{
  color: Black;
}
.up,.down{
  cursor: pointer;
}
.list-item:first-child>.up{
  visibility: hidden;
}
.list-item:last-child>.down{
  visibility: hidden;
}
label{
  font-size: 1.4em;
  color: Black;
}
.input-field label{  
  color: Black;
}
[type="checkbox"] + label{
  font-size: 1.4rem;
}
.input-field label.active:not(.label-icon){
  font-size: 1.4rem;
}
